<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Portal</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="/css/cover.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#users-table').DataTable();
            $('#playlists-table').DataTable();
        });
    </script>
    <style>

        .sync {
            color: #100070;
            text-align: right;
        }
        .sync-btn {
            width: 140px;
        }

        .user-info {
            color: #100070;
        }

        .p-info {
            color: #100070;
        }

        .nav-item {
            margin-left: 5px;
            margin-right: 5px;
        }

        hr {
            width: 500px;
        }
    </style>
</head>

<body>

<div class="cover-container d-flex h-100 w-100 p-3 mx-auto flex-column">

    <header class="masthead">
        <div class="inner">
            <h3 class="masthead-brand">RidePal</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/user">Back</a>
                <a class="nav-link" href="/logout">Log out</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 align="center">Admin Portal</h1>
        <br>

        <!--Nav Bar-->
        <ul class="nav nav-pills justify-content-center" id="adminTabs" role="tablist">
            <li class="nav-item">
                <a class="btn btn-md btn-secondary active" id="admin-users-tab" data-toggle="tab" href="#admin-users"
                   role="tab"
                   aria-controls="admin-users"
                   aria-selected="false">Users</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-md btn-secondary" id="admin-playlists-tab" data-toggle="tab" href="#admin-playlists"
                   role="tab"
                   aria-controls="admin-playlists"
                   aria-selected="false">Playlists</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-md btn-secondary" id="db-sync-tab" data-toggle="tab" href="#db-sync" role="tab"
                   aria-controls="db-sync"
                   aria-selected="true">Database Synchronization</a>
            </li>
        </ul>

        <div class="tab-content" id="adminTabContent">

            <!--DB Sync Tab-->
            <div class="tab-pane fade" id="db-sync" role="tabpanel" aria-labelledby="db-sync-tab">
                <br>
                <div class="alert alert-success" role="alert" th:if="${dbMessage}">
                    <p class="d-flex justify-content-center user-info" th:text="${dbMessage}"></p>
                </div>

                <!--                <div class="alert alert-danger" role="alert" th:if="${dbError}">-->
                <!--                    <p class="d-flex justify-content-center" th:text="${dbError}"></p>-->
                <!--                </div>-->

                <div class="col justify-content-center">
                    <hr>
                    <form name="Sync-Genres" th:action="@{/admin/syncGenres}" method="get">
                        <div class="form-group row">
                            <label class="col sync">All Genres
                                Synchronization:</label>
                            <div class="col">
                                <button type="submit" class="btn btn-md btn-secondary sync-btn">Sync Genres</button>
                            </div>
                        </div>
                    </form>

                    <form name="Sync-Artists" th:action="@{/admin/syncArtists}" method="get">
                        <div class="form-group row">
                            <label class="col sync">Artists
                                Synchronization:</label>
                            <div class="col">
                                <button type="submit" class="btn btn-md btn-secondary sync-btn">Sync Artists</button>
                            </div>
                        </div>
                    </form>

                    <form name="Sync-Genres" th:action="@{/admin/syncAlbums}" method="get">
                        <div class="form-group row">
                            <label class="col sync">Albums Synchronization:</label>
                            <div class="col">
                                <button type="submit" class="btn btn-md btn-secondary sync-btn">Sync Albums</button>
                            </div>
                        </div>
                    </form>

                    <form name="Sync-Genres" th:action="@{/admin/syncTracks}" method="get">
                        <div class="form-group row">
                            <label class="col sync">Tracks Synchronization:</label>
                            <div class="col">
                                <button type="submit" class="btn btn-md btn-secondary sync-btn">Sync Tracks</button>
                            </div>
                        </div>
                    </form>

                    <form name="Sync-Genres" th:action="@{/admin/updateDB}" method="get">
                        <div class="form-group row">
                            <label class="col sync">Upload data/Update database:</label>
                            <div class="col">
                                <button type="submit" class="btn btn-md btn-secondary sync-btn">Update DB</button>
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
            </div>

            <!--Users Tab-->
            <div class="tab-pane fade show active" id="admin-users" role="tabpanel" aria-labelledby="admin-users-tab">
                </br>
                <div class="alert alert-success" role="alert" th:if="${userMessage}">
                    <p class="d-flex justify-content-center" th:text="${userMessage}"></p>
                </div>

                <div class="alert alert-danger" role="alert" th:if="${userError}">
                    <p class="d-flex justify-content-center" th:text="${userError}"></p>
                </div>

                <table id="users-table" class="display">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Profile Picture</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Username</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <th class="user-info" scope="row" th:text="${user.getUser_id()}">1</th>
                        <td><img id="profile-img" th:src="@{'data:image/png;base64,' + ${user.getPicture()}}"
                                 onerror="this.onerror=null; this.src='/images/blank-profile-picture.png'" height="50"
                                 width="50"/></td>
                        </td>
                        <td class="user-info" th:text="${user.getFirstName()}">Maurice</td>
                        <td class="user-info" th:text="${user.getLastName()}">Laas</td>
                        <td class="user-info" th:text="${user.getEmail()}">maurice.laas@gmail.com</td>
                        <td class="user-info" th:text="${user.getUsername()}">maurice</td>
                        <td>
                            <a th:href="@{/admin/users/{id}(id=${user.getUser_id()})}" type="submit"
                               class="btn btn-outline-info edit-u-btn"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <a th:href="@{/admin/users/confirm-delete/{id}(id=${user.getUser_id()})}" type="submit"
                               class="btn btn-outline-danger delete-u-btn"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div id="edit-user-modal" class="modal fade text-center">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>

                <div id="delete-user-modal" class="modal fade text-center">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </div>

            <!--Playlists Tab-->
            <div class="tab-pane fade" id="admin-playlists" role="tabpanel" aria-labelledby="admin-playlists-tab">
                </br>
                <div class="alert alert-success" role="alert" th:if="${playlistMessage}">
                    <p class="d-flex justify-content-center" th:text="${playlistMessage}"></p>
                </div>

                <div class="alert alert-danger" role="alert" th:if="${playlistError}">
                    <p class="d-flex justify-content-center" th:text="${playlistError}"></p>
                </div>

                <table id="playlists-table" class="display">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Cover</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Rank</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="playlist : ${playlists}">
                        <th class="p-info" scope="row" th:text="${playlist.getPlaylist_id()}">1</th>
                        <td><img id="cover" th:src="@{'data:image/png;base64,' + ${playlist.getCover()}}"
                                 onerror="this.onerror=null; this.src='/images/blank-profile-picture.png'" height="50"
                                 width="50"/></td>
                        <td class="p-info" th:text="${playlist.getTitle()}">Going Home</td>
                        <td class="p-info" th:text="${playlist.getDescription()}">Description</td>
                        <td class="p-info" th:text="${timeCalculator.calculateTime(playlist.getDuration())}">1h 10min
                        </td>
                        <td class="p-info" th:text="${playlist.getRank()}">257</td>
                        <td class="p-info" th:text="${playlist.getUser().getUser_id()}">1</td>
                        <td>
                            <a th:href="@{/admin/playlists/{id}(id=${playlist.getPlaylist_id()})}"
                               class="btn btn btn-outline-info edit-p-btn"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <a th:href="@{/admin/playlists/confirm-delete/{id}(id=${playlist.getPlaylist_id()})}"
                               class="btn btn-outline-danger delete-p-btn"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="edit-playlist-modal" class="modal fade text-center">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>

            <div id="delete-playlist-modal" class="modal fade text-center">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>

        </div>
    </main>
    <br><br><br>
</div>
<script>
    $(document).ready(function () {

        $('.edit-u-btn').on('click', function (e) {
            e.preventDefault();
            $('#edit-user-modal').modal('show').find('.modal-content').load($(this).attr('href'));
        });

        $('.delete-u-btn').on('click', function (e) {
            e.preventDefault();
            $('#delete-user-modal').modal('show').find('.modal-content').load($(this).attr('href'));
        });

        $('.edit-p-btn').on('click', function (e) {
            e.preventDefault();
            $('#edit-playlist-modal').modal('show').find('.modal-content').load($(this).attr('href'));
        });

        $('.delete-p-btn').on('click', function (e) {
            e.preventDefault();
            $('#delete-playlist-modal').modal('show').find('.modal-content').load($(this).attr('href'));
        })
    });
</script>
<script>
    $('.dropdown-toggle').dropdown()
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>