<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Playlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>

<div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
    <h4>Are you sure?</h4>
    <p>Do you really want to delete the following playlist:</p>
    <p th:text="${playlist.getTitle()}"></p>
    </br>
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" style="width: 120px">No</button>
    <a class="btn btn-outline-danger" th:href="@{/admin/playlists/delete/{id}(id=${playlist.getPlaylist_id()})}"
       style="width: 120px">Delete Playlist</a>
</div>

</body>
</html>