<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Playlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <style>
        h1 {
            font-size: 56px;
            font-weight: bold;
        }
        h1, h3, p {
            color: #100070;
        }

        .btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
            color: #ffffff;
            text-shadow: none;
            background-color: #4800ff;
            border: .05rem solid #0d1d1d;
        }
    </style>
</head>
<body>

<div class="modal-header">
    <h4 class="modal-title">Edit Playlist</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
    <div class="center">
        <form name="PlaylistInfo" th:action="@{/admin/playlists/edit/{id}(id=${playlist.getPlaylist_id()})}" method="post">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Title:</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" name="title" th:value="${playlist.getTitle()}"
                           required
                           pattern=".{2,}"
                           title="Title must be at least 2 characters" aria-describedby="emailHelp"
                           placeholder="Enter title">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Description:</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="3" aria-describedby="PlaylistDescriptionHelpBlock"
                              name="description" placeholder="Playlist Description"
                              th:field="${playlist.description}" minlength="2" maxlength="150"
                              th:text="${playlist.getDescription()}"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
        </br>
        <form method="POST" id="img-upload"
              th:action="@{/admin/playlists/change-cover/{id}(id=${playlist.getPlaylist_id()})}"
              enctype="multipart/form-data">
<!--            <div class="form-group row">-->
<!--                <label class="col-lg-3 col-form-label form-control-label">Select new cover</label>-->
<!--                <div class="col-lg-8">-->
<!--                    <input type="file" name="cover" class="custom-file-input" accept="image/*"/>-->
<!--                    <label class="custom-file-label" for="img-upload">Choose file</label>-->
<!--                </div>-->
<!--            </div>-->
            <button type="submit" class="btn btn-primary">Change Cover Photo</button>
        </form>
    </div>
</div>


</body>
</html>