/*
 * Globals
 */

h1, h3, p{
    color: #100070;
}
h1 {
    font-size: 56px;
    font-weight: bold;
}

/* Links */
a,
a:focus,
a:hover {
    color: #1f3535;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #ffffff;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #4800ff;
    border: .05rem solid #0d1d1d;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #ffffff;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
}

.cover-container {
    max-width: 80em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(7, 0, 47, 0.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(72, 0, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #0d1d1d;
    border-bottom-color: #4800ff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(31, 53, 53, 0.5);
}