.playlist-front {
    width: 270px;
    height: 270px;
    background: #fff;
    position: absolute;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.playlist-card.animate, .playlist-card.animate .playlist-front {
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.playlist-card {
    width: 270px;
    height: 270px;
    position: absolute;
    overflow: hidden;
    transform-style: preserve-3d;
    -webkit-transition: 100ms ease-out;
    -moz-transition: 100ms ease-out;
    -o-transition: 100ms ease-out;
    transition: 100ms ease-out;
    box-shadow: 5px 13px 21px 0px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    text-align: start !important;
}

.playlist-card.animate {
    width: 270px;
    height: 270px;
    box-shadow: 5px 13px 21px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 100ms ease-out;
    -moz-transition: 100ms ease-out;
    -o-transition: 100ms ease-out;
    transition: 100ms ease-out;
}

.stats-container {
    background: #fff;
    position: absolute;
    top: 200px;
    left: 0;
    width: 270px;
    height: 270px;
    padding: 10px 15px 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.playlist-card.animate .stats-container {
    top: 80px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.stats-container .playlist-name {
    font-size: 18px;
    color: #393c45;
}

.stats-container p {
    font-size: 16px;
    color: #b1b1b3;
    padding: 2px 0 20px 0;
}

.stats-container .playlist-duration {
    float: right;
    color: #2f00a9;
    font-size: 15px;
    font-weight: 600;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 0, 231, 0.67);
    opacity: 0;
}

.playlist-card.animate .image_overlay {
    opacity: 0.6;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.playlist-information {
    padding: 0px 0 0;
}

.playlist-information strong {
    font-weight: 700;
    color: #393c45;
    font-size: 14px;
}

.playlist-information span {
    color: #969699;
    font-size: 14px;
    display: block;
}

.view_details {
    position: absolute;
    top: 92px;
    left: 50%;
    margin-left: -75px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    width: 172px;
    opacity: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.view_details:hover {
    background: #fff;
    color: #2f00a9;
    cursor: pointer;

}

.playlist-card.animate .view_details {
    opacity: 1;
    width: 130px;
    font-size: 15px;
    margin-left: -65px;
    top: 20px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.description {
    padding-right: 2px;
    padding-left: 2px;
    color: rgba(0,0,0,0.76);
}

.bottom-bar {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #969699;
    font-size: 15px;
}

.playlist-info-bottom-bar {
    padding-left: 5px;
    float: right;
}

#playlists-container {
    width: 1200px;
    margin-left: calc(50% - 600px);
}