body {
    /*font-family: "Open Sans", sans-serif;*/
}

.user-box {
    /*background-image: url('https://source.unsplash.com/1920x1080/?music');*/
    /*background-color: rgba(193, 179, 255, 0.8);*/
    padding: 15px 100px 15px;
    margin-bottom: 40px;
    /*border-style: solid;*/
    /*border-color: rgba(193, 179, 255, 0.8);*/
    border-radius: 20px;
}

.personal-information {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.50rem
}

.center {
    margin: 50px 15% 100px;
}

#profile-img {
    border-radius: 50% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    float: right;
    margin-top: -10px;
}

.user-info {
    color: #100070;
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
}
