<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">-->

    <title>Browse all playlists</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <link href="/css/cover.css" rel="stylesheet">

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #2f00a9;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 w-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand" href="/home">RidePal</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/generate">Generate</a>
                <a class="nav-link active" href="/browse">Browse</a>
                <a class="nav-link" href="/login" sec:authorize="isAnonymous()">Log in</a>

                <a class="nav-link dropdown-toggle" sec:authorize="isAuthenticated()" href="#"
                   id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img th:src="@{'data:image/png;base64,' + ${user.getPicture()}}"
                         onerror="this.onerror=null; this.src='/images/blank-profile-picture.png'"
                         width="40" height="40" class="rounded-circle" alt="..." style="margin-left: 15px;"> Hello,
                    <span
                            th:text="${user.firstName}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border-color: #ffffff; box-shadow: rgba(25, 25, 34, 0.54) 0 4px; width: 12rem;">
                    <a class="dropdown-item" href="/user"><i class="fa fa-edit"
                                                             style="color: #d7d7d7; padding-right: 5px;"></i> My Profile</a>
                    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" style="color: #d7d7d7; padding-right: 5px"></i> Log Out</a>
                </div>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Browse our awesome playlists</h1>
        <p class="lead">You can create your own, personal, playlist!</p>
        <p class="lead">
            <a href="/generate" class="btn btn-md btn-secondary">Generate now</a>
        </p>

        <div class="row row-cols-1 row-cols-md-9" id="playlists-container">
            <div class="alert alert-success" role="alert" th:if="${success}">
                <p class="d-flex justify-content-center" th:text="${success}"></p>
            </div>

            <div class="alert alert-danger" role="alert" th:if="${error}">
                <p class="d-flex justify-content-center" th:text="${error}"></p>
            </div>

            <table id="playlists-table" class="table table-striped table-bordered" style="max-width:100vw">
                <thead>
                <tr>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Rank</th>
                    <th scope="col">Play</th>
                    <th scope="col">Save</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="playlist : ${playlists}">
                    <td><img id="cover" th:src="@{'data:image/png;base64,' + ${playlist.getCover()}}"
                             onerror="this.onerror=null; this.src='/images/blank-profile-picture.png'" height="50"
                             width="50"/></td>
                    <td th:text="${playlist.getTitle()}">Going Home</td>
                    <td th:text="${playlist.getDescription()}">Description</td>
                    <td th:text="${timeCalculator.calculateTime(playlist.getDuration())}">1h 10min</td>
                    <td th:text="${playlist.getRank()}">257</td>
                    <td>
                        <a th:href="@{/playlists/{id}(id=${playlist.playlist_id})}" type="submit"
                           class="btn btn-outline-info view_details li-modal3"><i class="fa fa-play" aria-hidden="true"></i> Play</a>
                    </td>
                    <td>
                        <a th:href="@{/browse/save/{id}(id=${playlist.getPlaylist_id()})}"
                           class="btn btn-outline-danger delete-p-btn"><i class="fa fa-heart"></i></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Rank</th>
                    <th>Rank</th>
                    <th>Salary</th>
                    <th>Salary</th>
                </tr>
                </tfoot>
            </table>
        </div>

    </main>


    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Designed and created for Telerik Academy, by Anatoli & Evgeni</p>
        </div>
    </footer>
</div>

<!-- Popup player Modal -->
<div id="theModal3" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>


<script>

    $('.li-modal3').on('click', function (e) {
        e.preventDefault();
        $('#theModal3').modal('show').find('.modal-content').load($(this).attr('href'));
    });

    $('.dropdown-toggle').dropdown()

</script>

<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#playlists-table tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search" style="width: 120px" />' );
        } );

        // DataTable
        var table = $('#playlists-table').DataTable({
            scrollY: 400,
        });

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change clear', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
</script>
</body>
</html>
