<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet/less" type="text/css" href="less/error.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>

<body>

<audio id="errorBeat" autoplay="autoplay" src="audio/error-beat.mp3" loop="loop"></audio>
<script type="text/javascript">
    window.onload = function () {
        document.getElementById("errorBeat").play();
    }
</script>

<h2>Oops! Something Happened!</h2>
<div class="tape">
    <div class="screws">
        <i></i><i></i><i></i><i></i><i></i>
    </div>
    <div class="outdent"></div>
    <div class="holes">
        <i></i><i></i><i></i><i></i>
    </div>
    <div class="label">
        <div class="inner">
            <div class="lines">
                <p th:text="${errorCode}+' '+${errorMsg}" class="message">404 Not Found</p>
                <!--                <i></i>-->
                <!--                <i></i>-->
                <!--                <i></i>-->
            </div>
            <div class="stripes">
                <i></i><i></i>
            </div>
            <div class="cutout">
                <div class="wheel">
                    <i></i><i></i><i></i><i></i><i></i><i></i>
                </div>
                <div class="wheel">
                    <i></i><i></i><i></i><i></i><i></i><i></i>
                </div>
                <div class="window">
                    <div class="spool-left"></div>
                    <div class="spool-right"></div>
                    <div class="reel-left"></div>
                    <div class="reel-right"></div>
                </div>
                <div class="ticks"></div>
            </div>
            <p class="quality">RidePal<br>Playlist<br>Generator</p>
            <p class="type">X<span>60</span></p>
        </div>
    </div>
</div>

<p class="description">
    The page you requested could not be found. It might have been moved or removed,
    or you may have mistyped the URL.
</p>
<p class="description sub">
    Maybe you were looking for one of the following places:
    <br>
    <a href="/home">Home Page</a>
    <br>
</p>


</body>
</html>