<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">-->

    <title>Cover Template for Bootstrap</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-db44b196776521ea816683afab021f757616c80860d31da6232dedb8d7cc4862.js"></script>
    <link href="/css/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="css/playlist-card.css">
    <style>
        h1 {
            font-size: 56px !important;
            font-weight: bold !important;
        }
        h1, h3, p {
            color: #100070 !important;
        }

        body {
            background-image: url("images/bg-image.png");
            object-fit: contain;
            object-position: center;
        }
    </style>
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 w-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand" href="/home">RidePal</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/home">Home</a>
                <a class="nav-link" href="/generate">Generate</a>
                <a class="nav-link" href="/browse">Browse</a>
                <a class="nav-link" href="/login" sec:authorize="isAnonymous()">Log in</a>

                <a class="nav-link dropdown-toggle" sec:authorize="isAuthenticated()" href="#"
                   id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img th:src="@{'data:image/png;base64,' + ${user.getPicture()}}"
                         onerror="this.onerror=null; this.src='/images/blank-profile-picture.png'"
                         width="40" height="40" class="rounded-circle" alt="..." style="margin-left: 15px;"> Hello,
                    <span
                            th:text="${user.firstName}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border-color: #ffffff; box-shadow: rgba(25, 25, 34, 0.54) 0 4px; width: 12rem;">
                    <a class="dropdown-item" href="/user"><i class="fa fa-edit"
                                                             style="color: #d7d7d7; padding-right: 5px;"></i> My Profile</a>
                    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" style="color: #d7d7d7; padding-right: 5px"></i> Log Out</a>
                </div>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Generate your playlist</h1>
        <p class="lead">You can create your own, personal, playlist or browse from our staff-picked collection for your
            road trip!</p>
        <p class="lead">
            <a href="/generate" class="btn btn-md btn-secondary">Generate now</a>
            <a href="/browse" class="btn btn-mb btn-secondary">Browse</a>
        </p>

        <div class="row row-cols-1 row-cols-md-3" id="playlists-container">
            <div class="col mb-3" th:each="playlist : ${playlists}"
                 style="height: 270px; width:270px;">
                <div class="playlist-card">
                    <div class="playlist-front">
                        <div class="shadow"></div>
                        <img th:src="@{'data:image/png;base64,' +${playlist.getCover()}}" width="100%" height="100%" style="object-fit: cover; object-position: center"
                             alt=""/>
                        <div class="image_overlay"></div>
                        <a th:href="@{/playlists/{id}(id=${playlist.playlist_id})}" type="submit"
                           class="view_details li-modal3"><i class="fa fa-play" aria-hidden="true"></i> Play</a>
                        <div class="stats">
                            <div class="stats-container">
                                <span class="playlist-duration"
                                      th:text="${timeCalculator.calculateTime(playlist.getDuration())}">1h 37min</span>
                                <span class="playlist-name" th:text="${playlist.getTitle()}">Going home</span>
                                <div class="bottom-bar">
                                    <span class="playlist-info-bottom-bar"><i class="fa fa-line-chart"></i>
                                    <span th:text="' '+${playlist.getRank()}"></span></span>
                                    <!--<span class="playlist-info-bottom-bar">17 tracks</span>-->
                                    <span th:each="genre: ${playlist.getGenres()}"> <span
                                            th:text="${genre.getName()}"></span> </span>
                                </div>
                                <div class="playlist-information">
                                    <strong class="description-title">Description</strong>
                                    <div class="description" th:text="${playlist.getDescription()}">
                            <span>Pellentesque habitant morbi tristfique senectus et netus et malesuada fames ac turpis
                                egestas. Vestibulum tortor quams</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Designed and created for Telerik Academy, by Anatoli & Evgeni</p>
        </div>
    </footer>
</div>

<!-- Popup player Modal -->
<div id="theModal3" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script>
    document.body.addEventListener("mousemove", evt => {
        const mouseX = evt.clientX;
        const mouseY = evt.clientY;

        gsap.set(".cursor", {
            x: mouseX,
            y: mouseY
        });


        gsap.to(".shape", {
            x: mouseX,
            y: mouseY,
            stagger: -0.1
        });

    });
</script>

<script>
    $(document).ready(function () {
        $('.playlist-card').hover(function () {
            $(this).addClass('animate');
        }, function () {
            $(this).removeClass('animate');
        });
    });


    $('.li-modal3').on('click', function (e) {
        e.preventDefault();
        $('#theModal3').modal('show').find('.modal-content').load($(this).attr('href'));
    });

    $('.dropdown-toggle').dropdown()

</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-db44b196776521ea816683afab021f757616c80860d31da6232dedb8d7cc4862.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>-->
</body>
</html>
