<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


    <title>Popup Player</title>


    <style>

        #playListFive {
            height: 440px !important;
            opacity: 0.9;
        }

        .slimScrollDiv {
            height: 440px !important;
            text-align: left;
        }
    </style>


    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=css?family=Montserrat%7cMontserrat:300,400,700%7cPoppins"
          rel="stylesheet" type='text/css'>

    <!-- CSS Plugins -->
    <!--    <link rel="stylesheet" href="assets/css/bootstrap.min.css">-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/jplayer.blue.monday.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/fxmusica.css">

    <link rel="stylesheet" href="css/fxmusica-responsive.css">
    <link href="/css/cover.css" rel="stylesheet">


</head>
<body>

<!-- Edit beer Modal -->

<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title" th:text="${playlist.getTitle()}" style="color: #2f00a9">Playlist name</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">

    <div class="container-fluid h-80 d-flex flex-column" id="playlist"
         th:action="@{/playlists/{id}(id=${playlist.playlist_id})}" th:object="${playlist}" th:method="get"
         enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-block text-left" id="generatedPlaylistTitle">

                        </div>
                    </div>
                </div>
                <!-- Player Style 7 -->
                <div class="player-wrap fxmusica">
                    <div class="player-main-block player-layout-seven jp-video jp-video-270p" aria-label="media player">
                        <div class="jp-type-playlist">
                            <div class="player-main-block">
                                <div class="album-art-block">
                                    <div id="player-seven" class="jp-jplayer">
                                    </div>
                                    <div class="jp-details track-meta-info">
                                        <div class="jp-title" aria-label="title">&nbsp;</div>
                                    </div>
                                    <div class="overlay-one"></div>
                                </div>
                                <div class="jp-gui audio-controller-wrap">
                                    <div class="jp-video-play">
                                        <button class="jp-video-play-icon" tabindex="0">play</button>
                                    </div>
                                    <div class="jp-interface">
                                        <div class="jp-controls">
                                            <button class="jp-previous controller-common" tabindex="0"></button>
                                            <button class="jp-play controller-common" tabindex="0"></button>
                                            <button class="jp-next controller-common" tabindex="0"></button>
                                        </div>
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                            </div>
                                        </div>
                                        <div class="duration-2">
                                            <span class="jp-current-time" aria-label="time">&nbsp;</span>
                                            <span class="divider">/</span>
                                            <span class="jp-duration" aria-label="duration">&nbsp;</span>
                                        </div>
                                        <div class="jp-controls-holder">
                                            <div class="jp-volume-controls">
                                                <button class="jp-mute" tabindex="0">

                                                </button>
                                                <div class="jp-volume-bar">
                                                    <div class="jp-volume-bar-value"></div>
                                                </div>
                                            </div>
                                            <div class="jp-toggles">
                                                <button class="jp-shuffle" tabindex="0"></button>
                                                <button class="jp-repeat" tabindex="0"></button>
                                                <button id="playListBtnFive"
                                                        class="jp-playlist playlist-btn toggleBlock active"></button>
                                            </div>
                                        </div>
                                        <div class="jp-details">
                                            <div class="jp-title" aria-label="title">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="playlist-wrap trackInfo">
                                <div id="playListFive" class="jp-playlist playlist-block-style-two">
                                    <ul class="playlist duration-playlist">
                                        <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                                        <li>&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Player Style 7 End -->


            </div>
        </div>
        <!--                <script src="assets/js/jquery-3.2.1.min.js"></script>-->

    </div>

</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
</div>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/tether.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.slimscroll.min.js"></script>

<script src="assets/js/jquery.jplayer.js"></script>
<script src="assets/js/jplayer.playlist.js"></script>
<script src="js/fxmusica.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        let allTracks = [[${playlist.getTracks()}]];
        let tracks = [];
        for (let i = 0; i < allTracks.length; i++) {
            tracks.push({
                title: allTracks[i].title,
                artist: "RidePal",
                mp3: allTracks[i].preview,
                poster: 'data:image/png;base64,' + [[${playlist.getCover()}]],
                duration: sec2mins(allTracks[i].duration)
            });
            // tracks.push(result.tracks[i].preview);
        }

        new jPlayerPlaylist({
            jPlayer: "#player-seven",
            cssSelectorAncestor: ".player-layout-seven"
        }, tracks, {
            swfPath: "../../dist/jplayer",
            supplied: "webmv, ogv, m4v, oga, mp3",
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true,
            loop: true,
            audioFullScreen: false
        });
    });

    function sec2mins(timeInMins) {
        var pad = function (num, size) {
                return ('000' + num).slice(size * -1);
            },
            time = parseFloat(timeInMins).toFixed(3),
            hours = Math.floor(time / 60 / 60),
            minutes = Math.floor(time / 60) % 60,
            seconds = Math.floor(time - minutes * 60);

        return pad(minutes, 2) + ':' + pad(seconds, 2);
    }

    /*]]>*/
</script>
</body>
</html>