<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('https://source.unsplash.com/1920x1080/?music');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" role="form" method="POST" action="/register"
                  th:action="@{/register}"
                  th:object="${user}" onSubmit="return checkPassword(this)">

                <span class="login100-form-title p-b-34 p-t-27">
						Sign Up
					</span>
                <div class="message">
                    <i th:if="${error}" th:text="${error}"></i>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter first name">
                    <input class="input100" type="text" name="firstName" placeholder="First Name"
                           pattern="^[a-zA-Z0-9]{2,20}$"
                           title="First name must be at least 2 symbols and should contain letters and numbers only"
                           th:value="${user.getFirstName()}">
                    <span class="focus-input100" data-placeholder="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter last name">
                    <input class="input100" type="text" name="lastName" placeholder="Last name"
                           pattern="^[a-zA-Z0-9]{2,20}$"
                           title="Last name must be at least 2 symbols and should contain letters and numbers only"
                           th:value="${user.getLastName()}">
                    <span class="focus-input100" data-placeholder="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" name="username" placeholder="Username"
                           pattern="^[a-zA-Z0-9]{4,20}$"
                           title="Username must be at least 4 symbols and should contain letters and numbers only"
                           th:value="${user.getUsername()}">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter email">
                    <input class="input100" type="text" name="email" placeholder="Email"
                           pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                           title="Must be valid email."
                           th:value="${user.getEmail()}">
                    <span class="focus-input100" data-placeholder="&#xf15a;"></span>
                </div>

                <div id="passwordMatchMessage" class="message" hidden="true">
                    <i>Passwords does not match</i>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input id="password" class="input100" type="password" name="password" placeholder="Password"
                           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                           title="Password must contain at least one upper case, one lower case and a number"
                           th:value="${user.getPassword()}">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input id="matchingPassword" class="input100" type="password" name="matchingPassword"
                           placeholder="Confirm password "
                           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                           title="Password must contain at least one upper case, one lower case and a number"
                           th:value="${user.getMatchingPassword()}">
                    <span class="focus-input100" data-placeholder="&#xf3b2;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign Up
                    </button>
                </div>

                <div class="text-center p-t-30">
                    <div class="container-login100-form-btn">
                        <a class="txt2" href="/generate">
                            <i class="zmdi zmdi-collection-music"></i>
                            Create the perfect playlist for your ride
                        </a>
                    </div>
                </div>

                <div class="text-center p-t-30">
                    <div class="txt1">Already have an account?
                        <a class="txt1" href="/login">
                            Login
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/login.js"></script>

<script>
    function checkPassword(form) {
        const password1 = document.getElementById("password");
        const password2 = document.getElementById("matchingPassword");

        if (password1.value !== password2.value) {
            document.getElementById("passwordMatchMessage").removeAttribute("hidden");
            return false;
        }
    }
</script>
</body>
</html>