<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/user.css">
    <link rel="stylesheet" href="css/playlist-card.css">
    <link rel="stylesheet" href="css/cover.css">
    <title>User Profile</title>
</head>

<body>

<div class="cover-container d-flex h-100 w-100 p-3 mx-auto flex-column">
    <header class="masthead">
        <div class="inner">
            <h3 class="masthead-brand" href="/home">RidePal</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/generate">Generate</a>
                <a class="nav-link" href="/browse">Browse</a>
                <a class="nav-link" href="/login" sec:authorize="isAnonymous()">Log in</a>

                <a class="nav-link active dropdown-toggle" sec:authorize="isAuthenticated()" href="#"
                   id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img th:src="@{'data:image/png;base64,' + ${user.getPicture()}}"
                         onerror="this.onerror=null; this.src='/images/blank-profile-picture.png'"
                         width="40" height="40" class="rounded-circle" alt="..." style="margin-left: 15px;"> Hello,
                    <span
                            th:text="${user.firstName}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                     style="border-color: #ffffff; box-shadow: rgba(25, 25, 34, 0.54) 0 4px; width: 12rem;">
                    <a class="dropdown-item" href="/user"><i class="fa fa-edit"
                                                             style="color: #d7d7d7; padding-right: 5px;"></i> My Profile</a>
                    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"
                                                               style="color: #d7d7d7; padding-right: 5px"></i> Log
                        Out</a>
                </div>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <div class="user-box">
            <div class="row">
                <div class="col-md-4">
                    <img id="profile-img" th:src="@{'data:image/png;base64,' + ${user.getPicture()}}"
                         onerror="this.onerror=null; this.src='/images/blank-profile-picture.png'" height="140"
                         width="140"
                         alt=""/>
                </div>
                <div class="col">
                    <h1 class="cover-heading" th:text="${user.getFirstName()}+' '+${user.getLastName()}">Maurice Laas
                        (Design)</h1>
                    <p class="lead"
                       th:text="'Playlists: '+${playlists.size()} + ',  Total Play Time: '+${timeCalculator.calculateTime(totalPlayTime)}">
                        57 435 (design)</p>
                </div>
            </div>
        </div>

        <!--******************************* Navigation Bar ***************************************-->
        <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="btn btn-md btn-secondary active" id="playlists-tab" data-toggle="tab" href="#playlist"
                   role="tab"
                   aria-selected="false">Your Playlists</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-md btn-secondary" id="saved-playlists-tab" data-toggle="tab" href="#saved-playlists"
                   role="tab"
                   aria-selected="false">Saved Playlists</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-md btn-secondary" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-selected="false">Edit Profile</a>
            </li>
            <li class="nav-item">
                <!--        <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab"-->
                <!--           aria-selected="false">Admin Portal</a>-->

                <a class="btn btn-md btn-secondary" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Admin Portal</a>
            </li>
        </ul>

        <div class="tab-content">
            <!--******************************* Playlists ***************************************-->
            <div class="tab-pane show active" id="playlist" role="tabpanel" aria-labelledby="playlists-tab">

                <p class="lead" th:if="${playlistsMessage}" th:text="${playlistsMessage}"
                   align="center"
                   style="margin-top: 80px"></p>

                <!--******************************* Playlist Card ***************************************-->
                <div class="row row-cols-1 row-cols-md-4" id="playlists-container">
                    <div class="col mb-4" th:each="playlist : ${playlists}"
                         style="height: 270px; width:270px; align-content: center">
                        <div class="playlist-card">
                            <div class="playlist-front">
                                <div class="shadow"></div>
                                <img th:src="@{'data:image/png;base64,' +${playlist.getCover()}}" width="100%"
                                     height="100%" style="object-fit: cover; object-position: center"
                                     alt=""/>
                                <div class="image_overlay"></div>
                                <a th:href="@{/playlists/{id}(id=${playlist.playlist_id})}" type="submit"
                                   class="view_details li-modal3"><i class="fa fa-play" aria-hidden="true"></i> Play</a>
                                <a class="view_details edit-p-btn"
                                   style="left: 103%; width: 45px; border: 0 !important;"
                                   th:href="@{/user/editPlaylist/{id}(id=${playlist.getPlaylist_id()})}"><i
                                        class="fa fa-edit" aria-hidden="true"></i></a>
                                <div class="stats">
                                    <div class="stats-container">
                                <span class="playlist-duration"
                                      th:text="${timeCalculator.calculateTime(playlist.getDuration())}">1h 37min</span>
                                        <span class="playlist-name" th:text="${playlist.getTitle()}">Going home</span>
                                        <div class="bottom-bar">
                                    <span class="playlist-info-bottom-bar"><i class="fa fa-line-chart"></i>
                                    <span th:text="' '+${playlist.getRank()}"></span></span>
                                            <!--<span class="playlist-info-bottom-bar">17 tracks</span>-->
                                            <span th:each="genre: ${playlist.getGenres()}"> <span
                                                    th:text="${genre.getName()}"></span> </span>
                                        </div>
                                        <div class="playlist-information">
                                            <strong class="description-title">Description</strong>
                                            <div class="description" th:text="${playlist.getDescription()}">
                            <span>Pellentesque habitant morbi tristfique senectus et netus et malesuada fames ac turpis
                                egestas. Vestibulum tortor quams</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--**************************************************************************-->

                <div id="edit-playlist-modal" class="modal fade text-center">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>

            </div>

            <!--******************************* Saved Playlists **********************************-->
            <div class="tab-pane" id="saved-playlists" role="tabpanel" aria-labelledby="saved-playlists-tab">

                <p class="lead" th:if="${savedMessage}" th:text="${savedMessage}"
                   align="center"
                   style="margin-top: 80px"></p>

                <div class="row row-cols-1 row-cols-md-4" id="saved-playlists-container">
                    <div class="col mb-4" th:each="playlist : ${user.getSavedPlaylists()}"
                         style="height: 270px; width:270px; align-content: center">
                        <div class="playlist-card">
                            <div class="playlist-front">
                                <div class="shadow"></div>
                                <img th:src="@{'data:image/png;base64,' +${playlist.getCover()}}" width="100%"
                                     height="100%" style="object-fit: cover; object-position: center"
                                     alt=""/>
                                <div class="image_overlay"></div>
                                <a th:href="@{/playlists/{id}(id=${playlist.playlist_id})}" type="submit"
                                   class="view_details li-modal3"><i class="fa fa-play" aria-hidden="true"></i> Play</a>
                                <a class="view_details"
                                   style="left: 103%; width: 45px; border: 0 !important;"
                                   th:href="@{/user/remove/{id}(id=${playlist.playlist_id})}"><i
                                        class="fa fa-trash" aria-hidden="true"></i></a>
                                <div class="stats">
                                    <div class="stats-container">
                                <span class="playlist-duration"
                                      th:text="${timeCalculator.calculateTime(playlist.getDuration())}">1h 37min</span>
                                        <span class="playlist-name" th:text="${playlist.getTitle()}">Going home</span>
                                        <div class="bottom-bar">
                                    <span class="playlist-info-bottom-bar"><i class="fa fa-line-chart"></i>
                                    <span th:text="' '+${playlist.getRank()}"></span></span>
                                            <!--<span class="playlist-info-bottom-bar">17 tracks</span>-->
                                            <span th:each="genre: ${playlist.getGenres()}"> <span
                                                    th:text="${genre.getName()}"></span> </span>
                                        </div>
                                        <div class="playlist-information">
                                            <strong class="description-title">Description</strong>
                                            <div class="description" th:text="${playlist.getDescription()}">
                            <span>Pellentesque habitant morbi tristfique senectus et netus et malesuada fames ac turpis
                                egestas. Vestibulum tortor quams</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!--******************************* Edit Profile ***************************************-->
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                <!--                <div class="alert alert-success" role="alert" th:if="${profileMessage}">-->
                <!--                    <p class="d-flex justify-content-center" th:text="${profileMessage}"></p>-->
                <!--                </div>-->

                <div class="alert alert-danger" role="alert" th:if="${profileError}">
                    <p class="d-flex justify-content-center" th:text="${profileError}"></p>
                </div>

                <div class="center">
                    <h4 class="user-info">Change Profile Picture</h4>
                    <hr>
                    <form method="POST" id="img-upload" action="/user/changePicture" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label user-info">Select new photo</label>
                            <div class="col-lg-9">
                                <input type="file" class="custom-file-input" name="profilePicture" accept="image/*"/>
                                <label class="custom-file-label" for="img-upload">Choose file</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-md btn-secondary">
                            Change Profile Picture
                        </button>
                    </form>

                    </br>
                    <h4 user-info>Personal Information</h4>
                    <hr>
                    <form name="PersonalInfo" th:action="@{/user/updateProfile}" method="post">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label user-info">First name:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="firstName" th:value="${user.getFirstName()}"
                                       name="firstName"
                                       required
                                       pattern="^(?=.{2,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9]+(?<![_.])$"
                                       title="First name must be at least 2 symbols and should contain letters and numbers only"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label user-info">Last name:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="lastName" th:value="${user.getLastName()}"
                                       name="lastName"
                                       required
                                       pattern="^(?=.{2,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9]+(?<![_.])$"
                                       title="Last name must be at least 2 symbols and should contain letters and numbers only"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter your lirst name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label user-info">Email address:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="email"
                                       name="email"
                                       th:value="${user.getEmail()}"
                                       required
                                       pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                                       title="Must be valid email."
                                       aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-md btn-secondary">
                            Save Changes
                        </button>
                    </form>

                    </br>
                    <h4 user-info>Change Password</h4>
                    <hr>

                    <form name="PasswordUpdate" th:action="@{/user/changePassword}"
                          onSubmit="return checkPassword(this)"
                          method="post">

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label user-info">Old password</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword" required
                                       aria-describedby="PasswordOld"
                                       placeholder="Old password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label user-info">New Password</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" id="newPassword" name="newPassword" required
                                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                                       title="Password must contain at least one upper case, one lower case and a number"
                                       aria-describedby="newPass"
                                       placeholder="New password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label user-info">Confirm password</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
                                       required
                                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                                       title="Password must contain at least one upper case, one lower case and a number"
                                       aria-describedby="ConfirmPass"
                                       placeholder="Confirm password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-md btn-secondary">
                            Change Password
                        </button>
                    </form>
                    </br>
                    <h4>Delete Account</h4>
                    <hr>
                    <div class="bottom">
                        <p>If you decide to delete your account, all of information, including check-ins, toasts, and
                            comments
                            will be
                            removed permanently.
                        </p>

                        <a href="/user/confirm-delete"
                           class="btn btn-outline-danger delete-u-btn">Delete Account</a>
                    </div>
                </div>
            </div>

            <div id="delete-user-modal" class="modal fade text-center">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </div>

        <div id="theModal3" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                </div>
            </div>
        </div>

    </main>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.edit-p-btn').on('click', function (e) {
            e.preventDefault();
            $('#edit-playlist-modal').modal('show').find('.modal-content').load($(this).attr('href'));
        });

        $('.delete-u-btn').on('click', function (e) {
            e.preventDefault();
            $('#delete-user-modal').modal('show').find('.modal-content').load($(this).attr('href'));
        });

        $('.li-modal3').on('click', function (e) {
            e.preventDefault();
            $('#theModal3').modal('show').find('.modal-content').load($(this).attr('href'));
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('.playlist-card').hover(function () {
            $(this).addClass('animate');
        }, function () {
            $(this).removeClass('animate');
        });
    });

</script>
<script>
    function checkPassword(form) {
        const newPassword = document.get("newPassword");
        const oldPassword = document.getElementById("passwordConfirm");

        if (newPassword.value !== oldPassword.value) {
            alert("\nPassword did not match: Please try again...")
            return false;
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#myDIV *").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    $('.li-modal2').on('click', function (e) {
        e.preventDefault();
        $('#theModal2').modal('show').find('.modal-content').load($(this).attr('href'));
    });

    $('.li-modal3').on('click', function (e) {
        e.preventDefault();
        $('#theModal3').modal('show').find('.modal-content').load($(this).attr('href'));
    });

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#MyTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

<script>
    $('.dropdown-toggle').dropdown();
</script>
</body>
</html>