<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RidePal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="/css/welcome-user.css" rel="stylesheet">
</head>
<body>

<section class="container">
    <h1 class="title" >
        <span th:text="${user.getFirstName()}"></span>
        <span>welcome</span>
        <span>to RidePal</span>
    </h1>

    <h2 class="title">
        <span>The Playlist</span>
        <span>Generator!</span>
    </h2>
</section>
<span class="usechrome">The best playlist generator web app!</span>

<script>
    setTimeout(function(){
        window.location.href = 'http://localhost:8080/home';
    }, 6000);
</script>
</body>
</html>