@background: #f1f1f1;
@base: #B19F9D;
@dark: #85697f;
@screw: #dad2c4;
@screw-shadow: #b7aba8;
@screw-cross: #96828e;
@outdent: #c0b0a8;
@outdent-highlight: #eae6d1;
@outdent-shadow: #a49296;
@label: #faf5de;
@type-purple: #743459;
@type-red: #e66065;
@wheel: #eae6d1;
@tape-dark: #4a393f;
@tape-light: #58454b;

*, *:before, *:after {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: @background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 20px;
}

.tape {

  font-size: 3pt;

// scale
@media only screen and (min-width: 400px) { font-size: 4pt; }
@media only screen and (min-width: 500px) { font-size: 5pt; }
@media only screen and (min-width: 600px) { font-size: 6pt; }
@media only screen and (min-width: 700px) { font-size: 7pt; }
@media only screen and (min-width: 800px) { font-size: 8pt; }
@media only screen and (min-width: 900px) { font-size: 9pt; }
//@media only screen and (min-width: 1000px) { font-size: 10pt; }
//@media only screen and (min-width: 1100px) { font-size: 11pt; }
//@media only screen and (min-width: 1200px) { font-size: 12pt; }

flex: 0 0 auto;
width: 56em;
height: 34.5em;
background-color: @base;
border-radius: 1.2em;
position: relative;
perspective: 50em;
font-family: Lato, 'Hevetica Neue', Helvetica, Arial, sans-serif;
font-weight: 900;
text-transform: uppercase;

.screws i {
  position: absolute;
  display: block;
  width: 2.3em;
  height: 2.3em;
  border-radius: 50%;
  border: solid .45em @dark;
  background-color: @screw;
  box-shadow: inset -.25em -.25em @screw-shadow;
  z-index: 10;

// screw heads
    &::before,
&::after {
   position: absolute;
   content: '';
   display: block;
   background-color: @screw-cross;
 }

&::before {
   width: 50%;
   height: 14%;
   top: 43%;
   left: 25%;
 }

&::after {
   width: 14%;
   height: 50%;
   top: 25%;
   left: 43%;
 }

// position screws
    &:nth-child(1) {
     top: .4em;
     left: .4em;
   }

&:nth-child(2) {
   top: .4em;
   right: .4em;
 }

&:nth-child(3) {
   bottom: .4em;
   left: .4em;
 }

&:nth-child(4) {
   bottom: .4em;
   right: .4em;
 }

&:nth-child(5) {
   bottom: 4em;
   left: 26.85em;
 }

// twist 'em up
&:nth-child(2)::before,
&:nth-child(2)::after,
&:nth-child(3)::before,
&:nth-child(3)::after {
   transform: rotateZ(-17deg);
 }

&:nth-child(4)::before,
&:nth-child(4)::after,
&:nth-child(5)::before,
&:nth-child(5)::after{
   transform: rotateZ(45deg);
 }

}

.outdent {
  position: absolute;
  background-color: @outdent;
  width: 76%;
  height: 27%;
  left: 12%;
  bottom: 0;
  transform-style: preserve-3d;
  transform: rotateX(45deg);
  transform-origin: 50% 100%;
  border-top: solid 1.3em @outdent-highlight;
  border-left: solid 1.3em transparent;
  border-right: solid 1.3em transparent;
  box-shadow: 1.5em 0 @outdent-shadow;
}

.holes i {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: @dark;

// big 'uns
&:nth-child(1),
&:nth-child(4) {
   width: 2.8em;
   height: 2.8em;
   bottom: .9em;
 }

&:nth-child(1) {
   left: 12.9em;
 }

&:nth-child(4) {
   right: 12.9em;
 }

// little 'uns
&:nth-child(2),
&:nth-child(3) {
   width: 2.3em;
   height: 2.3em;
   bottom: 2.4em;
 }

&:nth-child(2) {
   left: 18em;
 }

&:nth-child(3) {
   right: 18em;
 }

}

.label {
  position: absolute;
  width: 82%;
  height: 63.5%;
  top: 8%;
  left: 9%;
  background-color: @dark;
  border-radius: .7em;
  padding: .6em;

.inner {

  position: relative;
  width: 100%;
  height: 100%;
  background-color: @label;
  border-radius: .3em;

&::after {
   content: 'A';
   display: block;
   position: absolute;
   top: 8%;
   left: 6%;
   background-color: @type-purple;
   color: @label;
   font-size: 220%;
   padding: .2em .45em;
 }

.lines {

  position: absolute;
  width: 76%;
  top: 8%;
  right: 6%;

i {
  display: block;
  background-color: @type-purple;
  width: 100%;
  height: .15em;
  margin-bottom: 1.5em;
}

}

.stripes {
  position: absolute;
  width: 100%;
  height: 23%;
  top: 36%;
  left: 0%;

i {
  display: block;
  width: 100%;
  height: 50%;
}

i:first-child {
  background-color: @type-red;
}

i:last-child {
  background-color: @type-purple;
}

}

.cutout {

  position: absolute;
  width: 74%;
  height: 52%;
  top: 36%;
  left: 13%;
  background-color: @base;
  border-radius: 1.7em;

.wheel {

  position: absolute;
  top: 1.7em;
  width: 7.55em;
  height: 7.55em;
  border-radius: 50%;
  background-color: @background;
  border: solid .8em @wheel;
  animation: spin 6s linear infinite;

&:nth-child(1) { left: 1.7em; }
&:nth-child(2) { right: 1.7em; }

i {
  display: block;
  position: absolute;
  width: 10%;
  height: 55%;
  left: 45%;
  top: -5%;
  border-top: solid 1.1em @wheel;
  transform-origin: 50% 100%;
&:nth-child(1) { transform: rotateZ(30deg); }
&:nth-child(2) { transform: rotateZ(90deg); }
&:nth-child(3) { transform: rotateZ(150deg); }
&:nth-child(4) { transform: rotateZ(210deg); }
&:nth-child(5) { transform: rotateZ(270deg); }
&:nth-child(6) { transform: rotateZ(330deg); }
}

}

.window {

  position: absolute;
  width: 39%;
  height: 66%;
  left: 30.5%;
  top: 17%;
  background-color: @background;
  border-top: solid .9em @type-purple;
  border-left: solid .9em @dark;
  border-right: solid .9em @dark;
  border-bottom: solid .9em @label;
  overflow: hidden;

.spool-left,
.spool-right {
  position: absolute;
  border-radius: 50%;
  background: repeating-linear-gradient(
  -33deg,
  @tape-dark,
  @tape-dark 35%,
  @tape-light 35%,
  @tape-light 65%
  );
}

.spool-left {
  width: 22.6em;
  height: 22.6em;
  top: -8.5em;
  left: -16.75em;
  animation: spool-left-animation 6s linear infinite;
}

.spool-right {
  width: 12.6em;
  height: 12.6em;
  top: -3.5em;
  right: -11.75em;
  animation: spool-right-animation 6s linear infinite;
}

.reel-left,
.reel-right {
  position: absolute;
  width: 11.6em;
  height: 11.6em;
  top: -3em;
  border-radius: 50%;
  background-color: @wheel;
}

.reel-left { left: -11.25em; }
.reel-right { right: -11.25em; }

}

.ticks {
  position: absolute;
  width: 31.2%;
  height: .9em;
  left: 34.4%;
  bottom: 16%;
  background: repeating-linear-gradient(
  90deg,
  @base,
  @base 1.5%,
  transparent 1.5%,
  transparent 8.2%
  );
}

}

.quality {
  position: absolute;
  margin: 0;
  width: 10%;
  left: 1.4%;
  top: 62.5%;
  font-size: 63%;
  color: @type-purple;
  line-height: 1.3;
  padding-bottom: .9em;
  border-bottom: solid .4em @type-purple;
  white-space: nowrap;
}

.type {
  position: absolute;
  margin: 0;
  right: 1.3%;
  top: 61%;
  font-size: 240%;
  color: @type-purple;
span {
  color: @type-red;
}
}

}

}

}

@keyframes spin {
  0% { transform: rotateZ(0deg); }
  5% { transform: rotateZ(0deg); }
  70% { transform: rotateZ(-720deg); }
  75% { transform: rotateZ(-720deg); }
  100% { transform: rotateZ(720deg); }
}

@keyframes spool-left-animation {
  0% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    left: -16.75em;
    transform: rotateZ(0deg);
  }
  5% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    left: -16.75em;
    transform: rotateZ(0deg);
  }
  70% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    left: -11.75em;
    transform: rotateZ(-720deg);
  }
  75% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    left: -11.75em;
    transform: rotateZ(-720deg);
  }
  100% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    left: -16.75em;
    transform: rotateZ(720deg);
  }
}

@keyframes spool-right-animation {
  0% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    right: -11.75em;
    transform: rotateZ(0deg);
  }
  5% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    right: -11.75em;
    transform: rotateZ(0deg);
  }
  70% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    right: -16.75em;
    transform: rotateZ(-720deg);
  }
  75% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    right: -16.75em;
    transform: rotateZ(-720deg);
  }
  100% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    right: -11.75em;
    transform: rotateZ(720deg);
  }
}



p.description {

  font-family: Lato, 'Hevetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 9pt;
  color: @dark;
  line-height: 2;
  margin: 2em 2em 1em 2em;
  text-align: center;

@media only screen and (min-width: 400px) { font-size: 100%; }

a {
  color: @dark;
  text-decoration: none;
  padding-bottom: .2em;
  border-bottom: solid 1px @base;
  transition: all .3s ease-in-out;
}

a:hover, a:focus {
  color: @type-red;
  border-bottom: solid 1px @type-red;
}

}

p.sub {
  margin: 1em 2em 2em 2em;
  color: @outdent-shadow;

a {
  color: @outdent-shadow;
}

}

.message {
  position: absolute;
  margin: 0;
  font-size: 200%;
  color: @type-purple;
  span {
    color: @type-red;
  }
}

h2 {
  font-family: Lato, 'Hevetica Neue', Helvetica, Arial, sans-serif;
  left: 1.3%;
  font-size: 250%;
  color: @type-purple;
  span {
    color: @type-red;
  }
}